<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>intellect</title>
    <%- include("../header") -%>
  </head>
  <body>
    <div class="container-fluid">
    <h2>
        <img src="/images/logo.png" class="logo">
            intellect
    </h2>
    </div>
    <br>
    <br>
    <div class="col-sm-6 col-sm-offset-3">
        <!-- show any messages that come back with authentication -->
        <% if (error) { %>
        <div class="alert alert-danger">
            <%= error %>
        </div>
        <% } %>
        <!-- GOOGLE SIGNIN -->
        <h1>Sign in for <b style="color:rgb(0,187,151)">Intellect</b></h1>
          <a href="/authorize/google" class="btn form-control btn-info">Sign in with Google</a>
          <a href="/authorize/facebook" class="btn form-control btn-fb-login">Sign in with Facebook</a>
      </div>
  </body>
</html>
