
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>intellect/login</title>
    <%- include("../header") -%>
  </head>

  <body>
    <div id="login-box">
      <div class="left">
        <h1>Sign up for <b style="color:rgb(0,187,151)">Intellect</b></h1>
        <form method="POST" action="/authorize/signup">
          <input type="text" name="username" placeholder="Username" />
          <input type="text" name="email" placeholder="E-mail" />
          <input type="password" name="password" id="password" placeholder="Password" />
          <input type="password" name="password2" id="password2" placeholder="Retype password" />
          
          <input type="submit" name="signup_submit" value="Sign me up" />
        </form> 
      </div>
      
      <div class="right">
        <span class="loginwith">Sign in with<br />social network</span>
        
        <button class="social-signin facebook">Log in with facebook</button>
        <button class="social-signin twitter">Log in with Twitter</button>
        <button class="social-signin google">Log in with Google+</button>
      </div>
      <div class="or">OR</div>
    </div>
    <script>
      document.getElementById('password2').onkeyup = function() {let verify = document.getElementById('password2');let password = document.getElementById('password');if(verify.value == password.value) {verify.style.borderColor = 'lime';} else {verify.style.borderColor = 'red';};}
    </script>
  </body>
</html>