<<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>intellect/error</title>
  </head>
  <body>
    <%=message%><br>
    <%=error.status%><br>
    <%=error.stack%>
  </body>
</html>
