<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>intellect/home</title>
    <%- include("header") -%>
  </head>
  <body>
    <%- include("navbar") -%>
    <br>
    <div class="container-fluid">
    <br><br>
      <ul class="list-group" id="latest"></ul>
    </div>
    <div class="box">
      <div class="b">
        <img src="/images/logo.png" alt="Intellect logo" class="logo rotating-logo">
      </div>

      <br><br><br><br><br><br><br>
      <h4>
      <div class="container">
        <center><span id="quote" class="quote"></span></center>
      </div>
      </h4>
    </div>
    <br>

    <script src="/javascripts/api.js"></script>
  <%- include("tabs") %>
  <%- include("footer") %>

  </body>
</html>
