<div class="container-fluid top-navbar box-shadow">
  <a class="float-left dark" href="/">
  <h2>
    <img src="/images/logo.png" class="logo">
    intellect
  </h2>
  </a>
  <div class="float-right margin-top-20">
    <form style="display:inline-block" action="/search">
      <input name="q" id="search-bar" type="text" class="form-control">
    </form>
    <a href="/search" onclick="return openBar();" class="btn btn-link fa-lg dark">
      <i class="fa fa-lg fa-search pills"></i>
    </a>
    <a href="/ask" class="btn btn-link fa-lg dark">
      <i class="fa fa-lg fa-plus pills"></i>
    </a>
    </div>
</div>
