<div class="container-fluid top-navbar box-shadow">
  <a class="float-left dark" href="/">
  <h2>
    <img src="/images/logo.png" class="logo">
    intellect
  </h2>
  </a>
  <div class="float-right margin-top-20">
    <form style="display:inline-block" action="/ask">
      <input style="display:none;" placeholder="Search" name="q" id="search-bar" type="text" class="form-control">
    </form>
    <a href="/ask" onclick="return openBar();" class="btn btn-link fa-lg dark">
      <i class="fa fa-lg fa-search pills"></i>
    </a>
    </div>
</div>
<div class="container-fluid top-navbar" style="background-color:#26B99A;color:white;">
  <div class="col-sm-3 col-xs-3 active-pill">
    <center>
      <br>
      <i class="fa fa-igloo"></i>
      <br><br>
    </center>
    </div>
  <div class="col-sm-3 col-xs-3">
    <center>
      <br>
      <i class="fa fa-search"></i>
      <br><br>
    </center>
    </div>
  <div class="col-sm-3 col-xs-3">
    <center>
      <br>
      <i class="fa fa-bell"></i>
      <br><br>
    </center>
    </div>
    <div class="col-sm-3 col-xs-3">
      <center>
        <br>
        <i class="fa fa-user"></i>
        <br><br>
      </center>
      </div>
</div>
<div class="top-navbar">
  <center><br>
    <%= user %>
    </center>
</div>
