<div class="container-fluid top-navbar box-shadow">
  <div class="float-left">
  <h2>
    <img src="/images/logo/animal.png" class="logo">
    intellect
  </h2>
  </div>
  <div class="float-right margin-top-20">
    <a href="#" class="btn btn-link fa-lg">
      <i class="fa fa-lg fa-plus pills"></i>
    </a>
    </div>
</div>
