@media (min-width: 768px) and (max-width: 991px) {
  .form-container {
    padding-left: 20%;
    padding-right: 20%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .form-container {
    padding-left: 20%;
    padding-right: 20%;
  }
}
@media (min-width: 1200px) {
  .form-container {
    padding-left: 20%;
    padding-right: 20%;
  }
}
:root {
  --primary: rgb(0,187,151);
}
.tilted-div {
  /*background-image: linear-gradient(150deg,#dd27c6 0%,#8805ff 100%);
    position: absolute;
    transform: skewY(-1deg);
    transform-origin: 0;
    position: relative;*/
    transform: skewY(-1deg);

}
.feed-view-img {
  width:200px;
  height:200px;
  border-radius: 20px;
  border:2px solid var(--primary);
}
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.logo {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
h1,h2,h3,h4,h5,h6,a,p,body,html,div,span,form,input {
	font-family: Product Sans;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.top-navbar {
	border-bottom-color: black;
	border-bottom-width: 10px;
}
.box-shadow {
	border:1px solid #f2f2f2;
  /** box-shadow: 0px 1px 8px #999; **/
}
.dark-mode {
	background-color: #2c3e50;
	 color: white;
}
.border-dark {
  border:1px solid #2c3e50;
}
a:hover,
a {
  text-decoration: none;
}
.margin-top-20 {
	margin-top: 20px;
}
.margin-right-10 {
  margin-right: 10px;
}
.pills {
	width: 40px;
  height: 40px;
}
#notify_message{
    position: fixed;
    display: none;
    z-index: 9999;
    padding-top: 10px;
    height: 50px;
    bottom: 0px;
    width: 100%;
    text-align: center;
    font-size: 22px;
    color: white;
}

.notify_message-success{
    background-color: var(--primary);
}

.notify_message-danger{
    background-color: #d9534f;
}
.box{
	width: 200px;
	height: 200px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	overflow: hidden;
}
.box .b{
		border-radius: 50%;
/*	border-left: 4px solid;
	border-top: 4px solid transparent !important;
	border-right: 4px solid;
	border-bottom: 4px solid transparent !important;*/
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	animation: ro 2s infinite;

}
.box .b1{
	border-color: #4a69bd;
	width: 120px;
	height: 120px;
}
.box .b2{
	border-color: #f6b93b;
	width: 100px;
	height: 100px;
	animation-delay: 0.2s;
}
.box .b3{
	border-color: #2ecc71;
	width: 80px;
	height: 80px;
	animation-delay: 0.4s;
}
.box .b4{
	border-color: #34495e;
	width:60px;
	height: 60px;
	animation-delay: 0.6s;
}
@keyframes ro{
	0%{
		transform: translate(-50%,-50%) rotate(-30deg);
	}
	50%{
		transform: translate(-50%,-50%) rotate(30deg);
	}
	100%{
		transform: translate(-50%,-50%) rotate(-30deg);
	}
}
body{
	margin: 0;
	padding: 0;
	background: #fff;
}
.box{
	width: 100%;
  height: 100%;
  background-color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	overflow: hidden;
}
.box .b{
		border-radius: 50%;
	border-left: 4px solid;
	border-top: 4px solid transparent !important;
	border-right: 4px solid;
	border-bottom: 4px solid transparent !important;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	animation: ro 2s infinite;

}
.box .b1{
	border-color: rgb(0,187,151);
	width: 120px;
	height: 120px;
}
.box .b2{
	border-color: rgb(235,56,55);
	width: 100px;
	height: 100px;
	animation-delay: 0.2s;
}
.box .b3{
	border-color: rgb(242,215,71);
	width: 80px;
	height: 80px;
	animation-delay: 0.4s;
}
.box .b4{
	border-color: rgb(99,97,81);
	width:60px;
	height: 60px;
	animation-delay: 0.6s;
}
@keyframes ro{
	0%{
		transform: translate(-50%,-50%) rotate(0deg);
	}
	50%{
		transform: translate(-50%,-50%) rotate(-180deg);
	}
	100%{
		transform: translate(-50%,-50%) rotate(0deg);
	}
}
/*#image {
  background-image: url(./image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(8px);
  height: 100%; 
  -webkit-filter: blur(8px);
}*/
#login-box {
  filter: blur(0px) !important;
  position: relative;
  margin: 5% auto;
  width: 600px;
  height: 450px;
  background: #FFF;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.left {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 300px;
  height: 400px;
}

h1 {
  margin: 0 0 20px 0;
  font-weight: 300;
  font-size: 28px;
}

input[type="text"],
input[type="password"] {
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 220px;
  height: 32px;
  border: none;
  border-bottom: 1px solid #AAA;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-bottom: 2px solid rgb(0,187,151);
  color: rgb(0,187,151);
  transition: 0.2s ease;
}

input[type="submit"] {
  margin-top: 28px;
  width: 120px;
  height: 32px;
  background: rgb(0,187,151);
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

input[type="submit"]:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

.or {
  position: absolute;
  top: 180px;
  left: 280px;
  width: 40px;
  height: 40px;
  background: #DDD;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  line-height: 40px;
  text-align: center;
}

.right {
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 300px;
  height: 400px;
  background-size: cover;
  background-position: center;
  border-radius: 0 2px 2px 0;
}

.right .loginwith {
  display: block;
  margin-bottom: 40px;
  font-size: 28px;
  color: #FFF;
  text-align: center;
}

button.social-signin {
  margin-bottom: 20px;
  width: 220px;
  height: 36px;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  transition: 0.2s ease;
  cursor: pointer;
}

button.social-signin:hover,
button.social-signin:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

button.social-signin:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

button.social-signin.facebook {
  background: rgb(0,187,151)
}

button.social-signin.twitter {
  background:  rgb(0,187,151)
}

button.social-signin.google {
  background:  rgb(0,187,151)
}